@font-face {
    font-family: 'IGOR';
    src: url('igor.ttf') format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('inconsolata-sb.ttf') format('opentype');
}

body {
    background-color: #F7B5C5;
    color: #312C29;
}

.title {
   text-align: center;
   font-size: 50px;
   margin-top: 20px;
   font-family: 'Igor', sans-serif;
}

.input-text {
    justify-content: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
}

form label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    color: #312C29;
}

label {
    width: 120px;
    display: inline-block;
    text-align: left;
    margin-right: 10px;
    font-family: 'Inconsolata', sans-serif;
    font-weight: bold;
}

form input {
    width: 100%;
    border: none;
    border-radius: 1px;
    padding: 5px 5px;
    margin-bottom: 15px;
    font-family: 'Inconsolata', sans-serif;
    font-size: 16px;
    background-color: #F1E3E7;
    color: #312C29;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

form button {
    width: 100%;
    border-radius: 1px;
    border: none;
    padding: 8px;
    background-color: #312C29;
    color: #F5F5F5;
    font-size: 18px;
    font-family: 'Inconsolata', sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

form label, form input, form button {
    display: block;
    margin: 8px auto;
    width: 80%;
}

.profile {
    justify-content: center;
}

#error {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #312C29;
    font-family: 'Inconsolata', sans-serif;
}

#user-output {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #312C29;
    font-family: 'Inconsolata', sans-serif;

    border-radius: 1px;
    padding: 10px 20px;
    justify-content: center;
}

#image {
    display: grid;
    place-items: center;
}

#image h3 {
    font-size: 14px;
    font-family: 'Inconsolata', sans-serif;
}

.igor {
    width: 300px;
    height: auto;
    border-radius: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#photoInfo {
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    color: #F1E3E7;
    font-size: 30px;
    font-family: 'IGOR', sans-serif;
}

.material-symbols-outlined {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 80px;
    color: #F1E3E7;
    cursor: pointer;
}

.time {
    position: fixed;
    bottom: 0px;
    right: 10px;
}

#current-time {
    font-size: 30px;
    font-family: 'IGOR', sans-serif;
}
